<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div id="window"></div>

<b>Data Code:</b>
<select id="code">
	<option>ACRDBT</option>
	<option>ECONGECC</option>
	<option>IBRENCMM</option>
	<option>JNTIAIAM</option>
	<option>LTSBBSBX</option>
	<option>MXWITMOL</option>
	<option>SABCI</option>
	<option>TDMIMOM</option>
	<option>UKRVAYOY</option>
</select>
&nbsp;
<b>Year:</b>
<select id="year">
	<option>2005</option>
	<option>2006</option>
	<option>2007</option>
	<option>2008</option>
	<option>2009</option>
	<option>2010</option>
	<option>2011</option>
	<option>2012</option>
	<option>2013</optiopn>
	<option>2014</option>
</select>


<script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript">
	function loadWindow () {
		$("#window").load('/'+$("#year option:selected").text() + '/' + $("#code option:selected").text() + '.html');
	}
	$("select").on("change", function(){
		loadWindow();
	});
	loadWindow();
</script>
</body>
</html>