<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../bower_components/c3/c3.css">
</head>
<body>

<div id="graph"></div>
</body>
<script type="text/javascript" src="../bower_components/d3/d3.js"></script>
<script type="text/javascript" src="../bower_components/c3/c3.js"></script>
<script type="text/javascript">
	var dataFromBloomberg = [['x'],['<%= params[:ticker] %>']];


	<% @data.items.each do |record| %>
		dataFromBloomberg[0].push('<%= record["Date"]%>');
		dataFromBloomberg[1].push(<%= record["Value"]%>);
	<% end %>

	 var graph = c3.generate({
	 	bindto: "#graph",
	 	data: {
	 		columns: 
	 			dataFromBloomberg,
	 		x: "x"
	 	},
	 	axis: {
	 		x: {
	 			type: 'timeseries',
	 			tick: {
	 				format: "%B"
	 			}
	 		}
	 	}
	 });
</script>
</html>